#personal {
    width: 100%;
    height: auto;
    background: #f5f5f5;
    padding-bottom: 20px;
    padding-top: 20px;
}

#personal .self-info {
    width: 1226px;
}

#personal .self-info .lfnav {
    width: 234px;
    height: 500px;
    background: #fff;
}

#personal .self-info .lfnav .nav_title {
    width: 234px;
    height: 40px;
    line-height: 40px;
    font-size: 19px;
    margin: 30px 20px 10px 40px;
    color: #333;
}

#personal .self-info .lfnav .title_list ul li {
    display: block;
    width: 194px;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
}

#personal .self-info .lfnav .title_list ul li .active {
    color: #1baeae;
    font-weight: bold;
}

#personal .self-info .lfnav .title_list ul li a {
    color: #757575;
}

#personal .self-info .lfnav .title_list ul li a:hover {
    color: #333;
}

#personal .self-info .intro {
    width: 978px;
    background: #fff;
}

#personal .self-info .intro .grzlbt {
    width: 938px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #757575;
}

#personal .self-info .intro .info_item {
    height: 45px;
    line-height: 45px;
    width: 900px;
    background: #fdfdfd;
    border: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#personal .self-info .intro .info_item span:nth-of-type(1) {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #757575;
    width: 70px;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
}

#personal .self-info .intro .info_item span:nth-of-type(2) {
    display: inline-block;
    font-size: 15px;
    color: #757575;
    width: 480px;
    height: 45px;
    line-height: 45px;
    padding-left: 120px;
}

#personal .self-info .intro .info_item span:nth-of-type(3) {
    display: inline-block;
    font-size: 15px;
    width: 160px;
    height: 45px;
    line-height: 45px;
    text-align: right;
}

#personal .self-info .intro .info_item span a {
    color: #008080;
}

#personal .self-info .intro .info_item span a:hover {
    color: #1baeae;
}

.uc-main-box {
    padding: 36px 0;
}

.uc-box {
    background: #fff;
}

.uc-content-box {
    margin: 0 48px;
}

.uc-content-box .box-hd .title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
}

.uc-content-box .box-hd small {
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.5;
}

.uc-content-box .box-hd small a {
    color: #757575;
}

.uc-content-box .box-hd .more {
    border-bottom: 0;
}

.uc-content-box .box-hd .filter-list {
    float: left;
    margin: 0;
    padding: 18px 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 1.25;
}

.uc-content-box .box-hd .filter-list li.tab-active, .uc-content-box .box-hd .filter-list li.active {
    color: #1baeae;
}

.box-hd .filter-list li.active a {
    color: #1baeae;
}

.uc-content-box .box-hd .filter-list li {
    float: left;
    padding: 0 20px;
    border-left: 1px solid #e0e0e0;
    color: #757575;
}

.uc-content-box .box-hd .filter-list a {
    color: #757575;
}

.uc-content-box .box-hd .search-form {
    float: right;
    position: relative;
    width: 262px;
    height: 40px;
    margin-top: 8px;
}

.uc-content-box .box-hd .search-text {
    position: absolute;
    top: 0;
    right: 41px;
    z-index: 1;
    width: 189px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    line-height: 40px;
    outline: 0;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.uc-content-box .box-hd .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 39px;
    height: 38px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.uc-content-box .box-hd .icon-search {
    width: 39px;
    text-indent: -10000px;
    background: url(../image/search.png) no-repeat;
    background-size: 50%;
    background-position: center;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.-list-boxcoupon .order-list {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

.-list-boxcoupon .uc-order-item-list {
    border-color: #b0b0b0;
}

.-list-boxcoupon .uc-order-item {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
}

.uc-order-item {
    position: relative;
}

.-list-boxcoupon .order-summary {
    padding: 25px 30px 1px;
}

.uc-order-item-list .order-status-closed, .uc-order-item-list .order-desc {
    color: #b0b0b0;
}

.uc-order-item-list .order-status-need-pay {
    color: #1baeae;
}

.uc-order-item-list .order-status-success {
    color: green;
}

.-list-boxcoupon .order-detail-table {
    width: 100%;
}

.-list-boxcoupon .order-detail-table th.col-main {
    padding-right: 10px;
}

.-list-boxcoupon .uc-order-item-list .order-detail-table th {
    border-bottom: 1px solid #e0e0e0;
}

.-list-boxcoupon .order-detail-table th {
    height: 28px;
    padding: 0 30px 24px;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 400;
    text-align: left;
    color: #757575;
    vertical-align: bottom;
}

.-list-boxcoupon .order-detail-table th p {
    margin: 0;
    font-size: 13px;
}

.-list-boxcoupon .order-detail-table th .sep {
    color: #e0e0e0;
    margin-right: 4px;
    margin-left: 4px;
}

.-list-boxcoupon .order-detail-table th.col-sub {
    width: 240px;
    padding-left: 10px;
    text-align: right;
}

.-list-boxcoupon .order-detail-table th .num {
    height: 18px;
    margin-right: 5px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    color: #333;
}

.-list-boxcoupon .order-detail-table td {
    padding: 0 30px;
}

.-list-boxcoupon .goods-list {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
}

.-list-boxcoupon .goods-list li {
    position: relative;
    height: 44px;
    margin: 10px 0;
    padding: 18px 18px 18px 100px;
    line-height: 22px;
    color: #333;
}

.hide {
    display: none !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.-list-boxcoupon .goods-list .figure-thumb {
    position: absolute;
    left: 0;
    top: 0;
}

.-list-boxcoupon .goods-list .figure-thumb a {
    display: block;
}

a {
    color: #757575;
    text-decoration: none;
}

.-list-boxcoupon .goods-list .figure-thumb img {
    width: 80px;
    height: 80px;
}

.-list-boxcoupon .goods-list .name {
    margin: 0;
}

.-list-boxcoupon .goods-list .name a {
    color: #333;
}

.-list-boxcoupon .goods-list .price {
    margin: 0;
}

.-list-boxcoupon .order-detail-table .order-actions {
    padding-top: 20px;
    text-align: right;
    vertical-align: top;
}

.-list-boxcoupon .order-detail-table td {
    padding: 0 30px;
}

.-list-boxcoupon .order-detail-table .order-actions .btn {
    display: block;
    margin: 0 0 10px auto;
}

.btn-line-gray {
    border-color: #b0b0b0;
    background: #fff;
    color: #757575;
}

.btn-line-pay {
    border-color: #b0b0b0;
    background: #fff;
    color: #1baeae;
}

.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

.newbee-pagenavi {
    height: 30px;
    padding: 15px 0;
    text-align: center;
}

.newbee-pagenavi .numbers {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 48px;
    height: 24px;
    padding: 3px 0;
    margin: 0 7px;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    color: #b0b0b0;
}

.newbee-pagenavi .iconfont {
    font-size: 24px;
    vertical-align: bottom;
}

.newbee-pagenavi .current {
    background-color: #757575;
    color: #fff;
}

.newbee-pagenavi a.numbers {
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.newbee-pagenavi a.numbers:hover {
    background: #b0b0b0;
    color: #fff
}

.-list-boxcoupon .order-detail-table th.col-main {
    padding-right: 10px;
}

.coupon-title .text {
    width: 1326px;
    height: 81px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.quan-list .quan-item {
    width: 316px;
    float: left;
    margin: 2px 28px 28px 2px;
}

.quan-item {
    position: relative;
    height: 192px;
    width: 243px;
    padding-right: 65px;
    border: 1px solid #f1f1f1;
    background: #fff;
}

.quan-item .q-type {
    padding-left: 25px;
}

.quan-item .q-type {
    padding: 25px 0 20px 38px;
}

.quan-item .q-price {
    display: inline-block;
    display: block;
}

.quan-item .q-price-active {
    color: #1baeae;
}

.quan-item .q-price-expire {
    color: #a9a9a9;
}

.quan-item .q-price em {
    float: left;
    margin: 13px 0 0;
    font-family: verdana;
    font-size: 24px;
}

.quan-item .q-price strong {
    float: left;
    line-height: 50px;
    margin: 0 10px 0 5px;
    font-size: 40px;
    font-family: arial;
    _display: inline;
}

.quan-item .q-price .txt {
    float: left;
    position: relative;
    line-height: 22px;
    padding-top: 22px;
}

.quan-item .limit {
    width: 250px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quan-item .limit .t-span{
    color: #666;
}

.quan-item .q-range {
    line-height: 22px;
    color: #999;
}

.quan-item .q-range {
    line-height: 22px;
    color: #999;
}

.quan-item .q-lable {
    padding-left: 36px;
    padding-right: 24px;
}

.quan-item .q-lable {
    padding-left: 36px;
    padding-right: 24px;
}

.quan-d-item .q-lable {
    background: #1baeae;
}

.quan-item .q-lable {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 144px;
    padding: 48px 22px 0;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
}

.quan-item .q-active {
    background: #1baeae;
}

.quan-item .q-expire {
    background: #a9a9a9;
}

.quan-item .q-lable .semi-circle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 192px;
    background: url(https://misc.360buyimg.com/user/quan/3.0.0/css/i/semi-circle.png) repeat-y;
}

.op-del{
    bottom: 0;
    position: absolute;
    right: 0;
    margin-right: 4px;
    color: white;
    font-size: 18px;
}

